<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 <style type="text/css">
    .value {
        font-weight: bold;
    }
</style>
    <body>
        <ui:component>
            <p:dialog
                id="AnexarU"
                header="Favor de cargar archivo (zip)"
                widgetVar="AnexarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="500" >
                <h:panelGroup id="detalleAnexar">
                    <br/><br/>
                    <h:form enctype="multipart/form-data">
                        <p:growl id="messages" showDetail="true" />
                        <p:fileUpload label="Buscar" update="messages" value="#{zipMB.file}" mode="simple" skinSimple="true" fileLimit="1" allowTypes="/(\.|\/)(zip)$/"/> 
                        <br/>
                        <p:commandButton value="Cargar" ajax="false" update=":detalleEditar"
                                             action="#{zipMB.upload}"  /> 
                        <br/>
                        <p:commandButton
                            value="Cancelar"
                            type="button"
                            icon="ui-icon-circle-close"
                            style="font-size:  100%"
                            onclick="PF('AnexarActivo').hide();">
                        </p:commandButton>
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>