<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/templates/LoggedTemplate.xhtml">
    <ui:define name="contentPart">
        <h:form id="activosForm">
              <h:outputText 
                  value="Servicios -> Carga de Archivos" 
                style="font-weight: bold"/> 
            <p:growl id="growl" showDetail="true" sticky="true"></p:growl>
            <p:dataTable
                id="listado"
                value="#{zipMB.todos}"
                var="registros"
                paginator="true"
                rows="9"
                style="font-size: small"
                emptyMessage="No se encontraron Registros"
                paginatorPosition="bottom">
                <f:facet name="header">
                    Zip(s)
                    <p:commandButton 
                        id="btnAddEmp" 
                        styleClass="botonpequeno"
                        update ="listado"
                        value="Nuevo"
                        title="Nuevo Registro"
                        icon="ui-icon-circle-plus"
                        style="display:inline; float:right; font-size:100%; "
                        onclick="PF('AnexarActivo').show();" />
                </f:facet>
                <p:column
                    sortBy="#{registros.id}"
                    filterMatchMode="contains"
                    width="10%"
                    style="font-size: small"
                    filterBy="#{registros.id}">
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{registros.id}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.nombre}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.nombre}">
                    <f:facet name="header">NOMBRE</f:facet>
                    <h:outputText value="#{registros.nombre}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.pdf}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.pdf}">
                    <f:facet name="header">PDF</f:facet>
                    <h:outputText value="#{registros.pdf}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.xml}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.xml}">
                    <f:facet name="header">XML</f:facet>
                    <h:outputText value="#{registros.xml}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.pro}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.pro}">
                    <f:facet name="header">REGISROS</f:facet>
                    <h:outputText value="#{registros.pro}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define> 
    <ui:define name="outLayoutPart" >
        <ui:include src="Editar.xhtml" />
        <ui:include src="Anexar.xhtml" />
    </ui:define>
</ui:composition>
