<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<script type="text/javascript">    
    PrimeFaces.locales['de'] = {
        closeText: 'Schließen',
        prevText: 'Zurück',
        nextText: 'Weiter',
        monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
        dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
        dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
        dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
        weekHeader: 'Woche',
        FirstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        timeOnlyTitle: 'Nur Zeit',
        timeText: 'Zeit',
        hourText: 'Stunde',
        minuteText: 'Minute',
        secondText: 'Sekunde',
        currentText: 'Aktuelles Datum',
        ampm: false,
        month: 'Monat',
        week: 'Woche',
        day: 'Tag',
        allDayText: 'Ganzer Tag'
    };
</script>
<script type="text/javascript">
    //<![CDATA[
function start() {
    PF('statusDialog').show();
}
 
function stop() {
    PF('statusDialog').hide();
}
    //]]>
</script>    
 
 <style type="text/css">
    .value {
        font-weight: bold;
    }
</style>
    <body>
        <ui:component>
            <p:dialog
                id="editUser"
                header="Editar Registro"
                widgetVar="EditarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="600" >
                <h:panelGroup id="detalleEditar">
                    <br/><br/>
                    <h:form id="edit">
                        <h:panelGrid columns="2" >
                            <p:column>
                                <p:inputText value="#{bankMB.bean.id}" id="id" type="hidden" />
                            </p:column>
                            <p:column> 
                            </p:column> 
                            
                            <p:column>
                                <h:outputLabel  value="Id : " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText  value="#{bankMB.bean.id}" readonly="true" style="width: 350px"  />
                            </p:column> 
                            
                            <p:column>
                                <h:outputLabel value="Nombre: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{bankMB.bean.nombre}" style="width: 350px"  />
                            </p:column>
                             
                            <p:column>
                                <h:outputLabel value="Desc. corta: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{bankMB.bean.corta}" style="width: 350px"  />
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel value="Clave: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{bankMB.bean.clave}" style="width: 350px" />
                            </p:column>
                              
                            <p:column >
                                <div style="text-align: center;">
                                    <p:commandButton 
                                        value="Modificar" 
                                        style="font-size:  100%" 
                                        icon="ui-icon-pencil"
                                        action="#{bankMB.editarUsuario(bankMB.bean.id,
                                                            bankMB.bean.corta,
                                                            bankMB.bean.nombre,
                                                            bankMB.bean.clave)}">
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column>
                                <div style="text-align: center;">
                                    <p:commandButton
                                        value="Cerrar"
                                        type="button"
                                        icon="ui-icon-circle-close"
                                        style="font-size:  100%" 
                                        onclick="PF('EditarActivo').hide();">
                                    </p:commandButton>
                                </div>
                            </p:column> 
                        </h:panelGrid> 
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>
