<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/templates/LoggedTemplate.xhtml">
    <ui:define name="contentPart">
        <h:form id="activosForm">
              <h:outputText 
                  value="Servicios -> Creación de Instituciones" 
                style="font-weight: bold"/> 
            <p:growl id="growl" showDetail="true" sticky="true"></p:growl>
            <p:dataTable
                id="listado"
                value="#{bankMB.todos}"
                var="registros"
                paginator="true"
                rows="9"
                style="font-size: small"
                emptyMessage="No se encontraron Registros"
                paginatorPosition="bottom">
                <f:facet name="header">
                    Archivos
                    <p:commandButton 
                        id="btnAddEmp" 
                        styleClass="botonpequeno"
                        update ="listado"
                        value="Nuevo"
                        title="Nuevo Registro"
                        icon="ui-icon-circle-plus"
                        style="display:inline; float:right; font-size:100%; "
                        onclick="PF('AnexarActivo').show();" />
                </f:facet>
                <p:column
                    sortBy="#{registros.id}"
                    filterMatchMode="contains"
                    width="10%"
                    style="font-size: small"
                    filterBy="#{registros.id}">
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{registros.id}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.corta}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.corta}">
                    <f:facet name="header">DESC. CORTA</f:facet>
                    <h:outputText value="#{registros.corta}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.nombre}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.nombre}">
                    <f:facet name="header">NOMBRE</f:facet>
                    <h:outputText value="#{registros.nombre}"/>
                </p:column>
                
                <p:column
                    sortBy="#{registros.clave}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.clave}">
                    <f:facet name="header">CLAVE</f:facet>
                    <h:outputText value="#{registros.clave}"/>
                </p:column>
                <p:column
                    width="18%"
                    headerText="Acciones">
                    <p:commandButton
                        onclick="PF('EditarActivo').show();"
                        title="Editar datos"
                        value="Editar"
                        update=":detalleEditar"
                        icon="ui-icon-pencil"
                        actionListener="#{bankMB.seleccionEditar(registros)}">
                        <f:setPropertyActionListener
                            value="#{registros}"
                            target="#{bankMB.bean}" />
                    </p:commandButton>
                    <p:commandButton value="Borrar"  actionListener="#{bankMB.borrar(registros.id)}"
                        update="listado"
                        icon="ui-icon-scissors"
                        style="display:inline;float:left;width: 100px;"
                        immediate="true">
                        <p:confirm header="Confirmación" message="Es de acuerdo en borrar este registro?" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog> 
                 </p:column>
            </p:dataTable>
        </h:form>
    </ui:define> 
    <ui:define name="outLayoutPart" >
        <ui:include src="Editar.xhtml" />
        <ui:include src="Anexar.xhtml" />
    </ui:define>
</ui:composition>
